/* 
*{
    padding: 0;
    margin: 0;
} */

body, html {
      height: 100%;
      margin: 0;
      font-family: 'Ropa Sans', sans-serif;
}


@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&display=swap');


section  {
    height: 500px;
}

/* Contain the parts that scroll over the background */
/* .scroll { */
    /* background-color: #ffe0f6;
    padding: 10px 70px;
    color: #666666;
} */


/* Keep the background images fixed while the sections scroll over */
/* Credit: https://www.w3docs.com/snippets/css/how-to-change-the-background-image-on-scroll-with-css.html  */

.background {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%; 
    width: 100%;
    text-align: center;
    display: table;
}

.one {
    background-image: url("../images/opening.jpg");

}

.two {
    background-image: url("../images/novemberrain.jpg");
}

.three {
    background-image: url("../images/intour.jpg");
}

.four {
    background-image: url("../images/fire.jpg");
}

.five {
    background-image: url("../images/end.jpg");
}

/*----------NAVBAR---------*/

.navbar {
    text-transform: uppercase;
    height: 100px;
}


/*----------THE BAND---------*/


#the-band {

}

.hoof {
    /* Aggiungere descrizione */
    margin-top: 100vh;
    height: 100px;
}


.mask {

    width: 100%;
    height: 100vh;

	border: solid 1px black;
	background-color: white; 
	mix-blend-mode: hard-light;
}

.hole {
    display: inline-block;
	width: 10%;
	height: 160px;
	margin: 2%;
	border: solid 1px red;	
	border-radius: 10px;
	background-color: gray;
}


/*----------MUSIC---------*/


#music {
    background-color: red;
}




/*----------TOUR---------*/


#tour {
    background-color: blue;
}




/*----------STORE---------*/

#store {
    background-color: yellow;
}



/*----------CONTACT---------*/


#contact {
    background-color: purple;
}



/*----------FOOTER---------*/

