/* 
*{
    padding: 0;
    margin: 0;
} */


@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&display=swap');

body {
    font-family: 'Ropa Sans', sans-serif;
}

section  {
    height: 500px;
}


/*----------NAVBAR---------*/

.navbar {
    text-transform: uppercase
}


/*----------THE BAND---------*/


#the-band {
    background-image: url("../images/opening.jpg");
    width: 100%;
    height: 1000px;
    /* background-position: center;
    background-repeat: no-repeat; */
    background-size: 100%;
}

.base {
	width: 100%;
    height: 100%;
	border: solid 1px black;
	background-color: white; 
	mix-blend-mode: hard-light;
}

.hole {
    display: inline-block;
	width: 10%;
	height: 160px;
	margin: 2%;
	border: solid 1px red;	
	border-radius: 10px;
	background-color: gray;
}


/*----------MUSIC---------*/


#music {
    background-color: red;
}




/*----------TOUR---------*/


#tour {
    background-color: blue;
}




/*----------STORE---------*/

#store {
    background-color: yellow;
}



/*----------CONTACT---------*/


#contact {
    background-color: purple;
}



/*----------FOOTER---------*/

