
/*----------General---------*/

@import url('https://fonts.googleapis.com/css?family=Ropa+Sans:400,400i&display=swap');


* {
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}


body {
  /* height: 100%; */
    font-family: 'Ropa Sans', sans-serif;
    overflow-x: hidden;
}

/* .row {
    border: red solid;

}

.col {
    border: blue solid;
}

.container {
    border: yellow solid;
} */


/* Custom Bootsrtap grid rule */

.container {
    padding: 30px;
}

.row {
    display: inline-table;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* This class accompanies all internal links of the page, preventing the destination of these from being partially covered by the navbar */
.scroll-to {
    position: relative;
    margin-top: -100px;
    height: 100px;
    z-index: -1;
    /* border: red solid; */
}



/*----------Color palette---------*/
/* I choosed rustics, autumn-like colors, that I think may fit well the style of the band */

/* Used for navbar background, footer and section-headers */
.bg-header {
    background-color: #380202;
}

/* Used for title, favicon, member names, slideshow indicator, navbar icons and int the return-to-the-top button */
.bg-highlight {
    background-color: #9A0501;
}

/* Used for section header text and also as background for the sections: The Band, Tour, Store and Contact */
.bg-clear {
    background-color: #f7f7f7;
}

/*----------Backgrounds---------*/

/* Keep the background images fixed while the sections scroll over */
/* Credit: https://www.w3docs.com/snippets/css/how-to-change-the-background-image-on-scroll-with-css.html  */

.background {
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    background-position: center; 
    display: table;
}

.one {
    background-image: url("../images/landingMobile.jpg");
}

@media(min-width:992px){
.one {
    background-image: url("../images/landingDesktop.jpg");
}
}

.two {
    background-image: url("../images/novemberrain.jpg");
}

.three {
    background-image: url("../images/intour.jpg");
}

.four {
    background-image: url("../images/fire.jpg");
}

.five {
    background-image: url("../images/end.jpg");
}

/*----------Navbar---------*/

.navbar {
    text-transform: uppercase;
    height: 100px;
    margin: 0;
}

.navbar a { 
    text-align: center;
}

.navbar div{
    color: #f7f7f7;
    font-weight: bold;
    background-color: #380202;
    opacity:0.8;
}

/* Neutralize the effect if the navbar is compressed */
.hvr-sweep-to-bottom:before {
    background-color: transparent;
}


@media(min-width:768px){
.navbar a {
    width: 91px; 
    height: 100px;
    text-align: center;   
}

.navbar i  {
    font-size: 36px;
    margin: 16px auto 10px;
    color: #f7f7f7;


}

.navbar div {
    font-weight: normal;
    background-color: transparent;
}


.hvr-sweep-to-bottom:before {
    background-color: #9A0501;

}

}


/*----------Return to top button---------*/

#myBtn {
    display: none; /* Hidden by default, it is shown through JS after scrolling down for 20px */
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #9A0501; 
    color: #f7f7f7;
    cursor: pointer; 
    padding: 15px; 
    border-radius: 50%; 
    font-size: 24px; 
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;

}

#myBtn:hover {
  background-color: #380202;
}



/*----------Sections---------*/




.section-header  {
    padding-top: 30px;
    text-align: center;
    color: #9A0501;
}

/* Used in sections with a background image to add contrast */
.bg-darkened {
    height: 200px;
    margin-bottom: -170px;
    background-image: linear-gradient(black, transparent);
}


/*----------The Band---------*/

/* @media(max-width:1311px){
    .large-screens {
        display: none;
        }
    }

@media(min-width:1312px){
    .small-screens {
        display: none;
        }
    .large-screens {
        display: block;
        }
    }
     */

.large-screens {
    display: none;
}

#the-band {
    margin-top: 100vh;
}

.title {
  color: #9A0501;
  text-shadow: 2px 2px 3px #525252;
}

.intro { 
    padding-left: 20px;
    padding-right: 20px;
}

.member {
    margin: 15px auto 0 auto;
    text-align: center;
    padding-left: 0px;

}

.member h3 {
    color: #9A0501;
    /* text-transform: uppercase; */
    display: flex;
    justify-content: center;
}

/*----------Small screens Only---------*/

.small-screens {
    padding: 30px;
    width: 100%;
}

.member img {
    width: 90%;
    max-width: 200px;
    
}


/*----------Large screens only---------*/

.large-screens {
	mix-blend-mode: hard-light;
}


.hole {
    display: inline-block;
	width: 150px;
	height: 150px;
	border-radius: 10px;
    /* border-radius: 50%; */
	background-color: gray;
}


/*----------News---------*/

/* Make embedded twitter responsive  */
.twitter-tweet {
    width: 100% !important;
}

.social-post {
    /* background-color: #FFF;   */
    margin: 25px auto;
    /* padding-bottom: 0px !important; */
    /* width: 100%; */
    
}


.fb-post {
    height: 594px;
    background-color: #fff;
    border-radius: 5px;
    width: 100% !important;
}

/*----------Tour---------*/

/*Credit: bootstrap table (https://getbootstrap.com/docs/4.3/content/tables/)*/




/*----------Best Hits---------*/


.best-hits iframe {
    /* 55% of the original dimensions, proportions maintained */
    width: 308px;
    height: 173px;
}

.embedded-ytb {
    margin: 15px auto;
}

@media (min-width: 1200px) {

.best-hits iframe {
    /* 90% of the original dimensions, proportions maintained */
    width: 504px;
    height: 283px;
}

.embedded-ytb {
    margin: 25px auto;
}
    
}


/*----------Store---------*/

/* This section was built using the bootstrap grid and applying the BEM methodology */

.shop {
    padding: 4%;
}

.shop img {
    width: 100%;
    height:auto;
}

.shop--merchandise {
    
}

.shop--amazon {
    /* background-color: blue; */
    
}

.shop--spotify {
    /* background-color: green; */
    
}



/*----------Gallery---------*/

.gallery {
    /* margin-top:30px; */
}


.carousel-indicators .active {
    background-color: #9A0501;
}




/*----------Contact---------*/

.contact input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

#country {
    margin-bottom: 15px;
}

/* Submit button, credit: https://getbootstrap.com/docs/4.0/components/buttons/ */

#submit-button {
    margin-top: 15px;
}

/*----------Footer---------*/

footer {
    height: 50px;
}

/* Social icon style is taken from the Rosie resume project*/

.social-link {
    margin: 9px 3px;
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    display: inline-block;
    background: #fafafa;
    transition: 0.35s ease-in-out;
    -moz-transition: 0.35s ease-in-out;
    -webkit-transition: 0.35s ease-in-out;
    -o-transition: 0.35s ease-in-out;
}

footer i {
    color: #380202;
    position: relative;
    top: -2px;
}

/* Social color palette are from :https://brandpalettes.com/ */

.fb:hover{
    background-color:#4267B2;
}

.tw:hover{
    background-color:#1DA1F2;
}

.ig:hover{
    background-color:#C13584;
}

.yt:hover{
    background-color:#FF0000;
}

.social-link:hover i{
    color:#fafafa;
}


